@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

/* Estilos para pantallas con ancho máximo de 500px-Mobile- */
@media only screen and (max-width: 500px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

/* Cambia el color del texto en el menú de navegación (navbar) */
nav a {
    color: white;
}

/*carousel html index*/
#carouselExample {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#carouselExample .carousel-inner img {
    width: 25%; /* Hace que las imágenes ocupen el ancho completo del contenedor */
    height: auto;
}

p {
    color: black;
}

.titulo-negro {
    color: black;
    text-decoration: underline;
}

header {
    background-color: #459cf3;
    justify-content: space-evenly;
    color: white;
}

main {
    background-color: #72ee8d;
    margin-top: -20px; /* arregla espacio entre nav y main */
}

header img {
    width: 50px;
}

.imagen1,
.imagen2,
.imagen3 {
    width: 300px;
}

.color-rojo {
    color: red;
}

/* footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f7f2f2;
    color: black;
}

/* Estilos para las imágenes dentro del footer */
footer img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
/* footer */

/* Estilos para la sección del banner en HTML productos*/
#banner {
    text-align: center;
    margin-top: -20px;
    background-color: #72ee8d;
}

#banner img {
    width: auto;
    height: 800px;
    max-width: auto;
    margin-bottom: 20px;
    margin-top: -20px;
}

#banner p {
    color: #ec1111; /* Cambia el color del texto en el banner */
    font-size: 30px; /* Ajusta el tamaño del texto según sea necesario */
background-color:#72ee8d;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#review {
    background-color: #72ee8d;
}

#review img {
    width: auto;
    height: 800px;
    max-width: auto;
    margin-bottom: 20px;
    margin-top: -20px;
}

#review p {
    color: #080000;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#72ee8d;
}
