@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import "_bannerproductos.scss";

$verde : #72ee8d ;

/* Estilos para pantallas con ancho máximo de 500px-Mobile- */
@media only screen and (max-width: 500px) {
    .productos-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* Para centrar verticalmente en dispositivos móviles */
    }

    .card {
        margin-bottom: 10px; /* Añade espacio entre las tarjetas en dispositivos móviles */
    }
}

/* Cambia el color del texto en el menú de navegación (navbar) */
nav {
    a {
        color: white;
        text-decoration: none;
        padding-left: 15px;
    }
}

/*hover para h1 en hoja index*/
h1{
    color: black;
    text-decoration: underline;
}
h1:hover{
    color: red;
    font-family: cursive;
}



/*carousel html index*/
#carouselExample {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
    .carousel-inner {
        img {
            width: 100%; /* Ajusta el tamaño al 100% del contenedor en dispositivos móviles */
            height: auto;
            display: block; /* imagen como un bloque */
            margin: 0 auto; /* Auto-margin para centrar la imagen horizontalmente */
        }
    }

    @media (min-width: 768px) {
        /* Ajustar segun necesario */
        .carousel-inner img {
            width: 30%; /* Restaura el tamaño original del 30% en dispositivos de escritorio */
        }
    }
}


p {
    color: black;
    padding-left: 15px;
}

.titulo-negro {
    color: black;
    text-decoration: underline;
    padding-left: 15px;
}



header {
    background-color: #459cf3;
    justify-content: space-evenly;
    color: white;
    
    img {
        width: 50px;
    }
}


main {
    background-color: #72ee8d;
    
    .imagen1,
    .imagen2,
    .imagen3 {
        width: 300px;
    }

    .color-rojo {
        color: red;
    }
}

/* footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f7f2f2;
    color: black;
    
    img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
}


#review {
    background-color: $verde;
    
    img {
        width: 1080px;
        height: 400px;
        max-width: auto;
        margin-bottom: 20px;

    }

    p {
        color: #080000;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: $verde;
    }
}
#review img {
    max-width: 100%;
    height: auto;
}

#banner img {
    max-width: 100%;
    height: auto;
}


input{
    border-color: #f7f2f2;
    margin-bottom: 20px;
}

input:focus{
    border: purple 5px dotted;
}

/* tamaño form para ingresar review*/
.devolucion {
    width: 100%;
    max-width: 500px;
    /* Otros estilos que desees agregar */
  }

